* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

.main-nav ul > li > a, .sub-nav ul > li > a, .social-media-nav ul li a {
  background: rgba(255, 255, 255, 0.8);
  color: blue;
  text-decoration: none;
  padding: .2vw .5vw;
  border-radius: .3vw; }
  .main-nav ul > li > a:hover, .sub-nav ul > li > a:hover, .social-media-nav ul li a:hover {
    background: blue;
    color: rgba(255, 255, 255, 0.8); }

.main-template {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #269;
  background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; }
  .main-template > * {
    padding: 1vw; }
  .main-template > header {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white; }
    .main-template > header nav ul {
      display: flex;
      justify-content: space-between; }
  .main-template > main {
    flex-grow: 1;
    padding: 1vw;
    display: flex;
    justify-content: space-between; }
    .main-template > main article {
      flex-grow: 1;
      background-color: rgba(255, 255, 255, 0.3);
      border: 2px solid white;
      padding: 1vw; }
  .main-template > footer {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    border-top: 2px solid white; }

.main-nav ul {
  display: flex;
  justify-content: space-between; }
  .main-nav ul > li {
    list-style: none;
    margin-left: 1vw; }
    .main-nav ul > li > ul {
      display: none; }

.sub-nav {
  margin-right: 1vw; }

.dir-tree ul {
  margin: 0px 0px 0px 20px;
  list-style: none;
  line-height: 2em; }
  .dir-tree ul li {
    font-size: 16px;
    position: relative; }
    .dir-tree ul li:before {
      position: absolute;
      left: -15px;
      top: 0px;
      content: '';
      display: block;
      border-left: 1px solid red;
      height: 1em;
      border-bottom: 1px solid red;
      width: 10px; }
    .dir-tree ul li:after {
      position: absolute;
      left: -15px;
      bottom: -7px;
      content: '';
      display: block;
      border-left: 1px solid red;
      height: 100%; }
    .dir-tree ul li.root {
      margin: 0px 0px 0px -20px; }
      .dir-tree ul li.root:before {
        display: none; }
      .dir-tree ul li.root:after {
        display: none; }
    .dir-tree ul li:last-child:after {
      display: none; }

.social-media-nav ul {
  display: flex; }
  .social-media-nav ul li {
    list-style: none;
    margin-right: 1vw; }

h1 {
  font-size: 2vw;
  color: white;
  color: white;
  text-shadow: 0.25vw 0.25vw rgba(255, 255, 255, 0.3); }
  h1:hover {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer; }

/*# sourceMappingURL=app.css.map */
